[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = ">=1.0"
flask-sqlalchemy = ">=2.3"
flask-limiter = ">=1.0"
flask-mail = ">=0.9"
flask-login = ">=0.4"
flask-assets = ">=0.12"
flask-migrate = ">=2.4"
flask-wtf = ">=0.14"
python-dotenv = ">=0.10"

[requires]
python_version = "3.7"
